button {
  padding: 5px 15px;

  background: transparent;
  outline: none;
  border: none;

  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  border-radius: 40px;
  border: 1px solid rgb(246, 241, 241);
 
}
.buttonCard {
  padding: 5px 15px;

  background: transparent;
  outline: none;
  border: none;

  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 40px;
  border: 1px solid rgb(246, 241, 241);
}
